># Functions

In [3]:

def welcome():
    print("welcome")
welcome()

welcome

In [13]:
def add():
    a=3
    b=5
    print(a+b)
add()

8

In [21]:
def add(x,y):
     return(x+y)
add(2,3)

5

In [25]:
def add(x,y):
     return(x+y)
add(x=3,y=2)

5

In [11]:
def welcome(x):
    print("hello",x,"welcome to innomatics")
welcome("srinija")

hello srinija welcome to innomatics

In [41]:
#calculating bills of a customer
gst=0.05
tax=0.18
def bills(product):
       #product=57
       total_bills=product+product*gst+product*tax
       return total_bills
bills(57)

70.11

In [103]:
#calculating bills of  customers
gst=0.05
tax=0.18
total_bills=[]
def bills(products):
       for i in products:
           total=i+i*gst+i*tax
           total_bills.append(total)
       print(total_bills)
    
           
bills([54,67,87])

[66.42, 82.41, 107.00999999999999]

In [137]:
marks=[35,67,38]
sums=0
nums=0
for i in marks:
    sums=i+sums
    nums=nums+1
print(sums)
print(nums)
avg=sums/nums
print(avg)

140
3
46.666666666666664

In [193]:

def average(marks):
     nums=0
     sums=0
     for i in marks:
         sums=sums+i
         nums=nums+1
     avg=sums/nums
     return round(avg,2)
     
average([35,67,38])

46.67

In [179]:
average([90,40,27,38])

48.75

In [33]:

def input(list):
    return list
input([23,45,89])

[23, 45, 89]

In [15]:
#take input fronm user -salary,savins,insurance,pf calculate total amountt hes paying to the insurance
def total(salary,savings,insurance,pf):
          total_=salary+savings+pf
          print(total_)
total(30000,50000,5000,2000)

82000

In [23]:
#try to take name and reverse it
name="srinija"
def string(name):
       print(name[::-1])
string(name)

ajinirs

In [59]:
#count vowels from a given string
def count_each_vowel(x):
    print(x)
    count=0
    for i in x:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
                #print(i)
                count=count+1
    print(count)
count_each_vowel("can you can a can as canner can can")
#count_each_vowel(x)

can you can a can as canner can can
11

In [73]:
#filter words which are having the length less than 3
less_than_3=[]
greater_than_3=[]

def input(x):
    for i in x.split():
          if len(i)<3:
              less_than_3.append(i)
          else:
              greater_than_3.append(i)
    print(less_than_3)
    print(greater_than_3)
               
input("why uiiwu ajiwiwun ret ik no yo")

['ik', 'no', 'yo']
['why', 'uiiwu', 'ajiwiwun', 'ret']

# types of arguments
>
#1.arbitary 2.positional 3.*args-multiple arbitary arguments 4.**args-multiple positional arguments 5.default

In [107]:
#1.arbitary arguments
def difference(a,b):
    c=a+b
    return c
print(difference(5,3))

8

In [105]:
#2.positional arguments
def difference(a,b):
    c=a+b
    return c
print(difference(a=5,b=3))
print(difference(b=3,a=8))

8
11

In [75]:
#3.*args-multiple arbitary arguments(positional arguments)
def some(*x):
    print(x)
some(23,45,67)

(23, 45, 67)

In [79]:
#4.**args argument-multiple positional arguments(keyword arguments)
def some(**x):
    print(x)
some(a=23,b=45,c=67)

{'a': 23, 'b': 45, 'c': 67}

In [97]:
#5.default
def difference(a,b=5):
    c=a+b
    return c
difference(3)

8

In [99]:
#funcion will accept only arbitary arguments
def s(a,b,/):
    print(a+b)
s(5,2)

7

In [87]:
#takes only positional arguments
def s(*,a,b):
    print(a+b)
s(a=5,b=2)

7

In [95]:
#arbitary and positional
def s(a,b,/,*,c,d):
    print(a+b)
    print(c-d)
s(5,3,c=7,d=8)

8
-1

# Lambda function

#syntax:function_name=lambda inputs : expression

In [44]:
mul=lambda x:x*3
mul(3)

9

In [99]:
mul=lambda x,y:x*y
mul(3,5)

15

In [103]:
mul=lambda x,squares,y:x*squares 
mul(3,2,5)

6

In [51]:
square=lambda x:x**2
square(5)

25

In [53]:
cube=lambda x:x**3
cube(5)

125

# recursion

In [3]:
#sum of numbers
def sum_num(n):
    if n==1:
        return 1
    return n+sum_num(n-1)
sum_num(5)

15

In [11]:
#factorial of numbers
def factorial(n):
    if n==1 or n==0:
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

In [7]:
#fibonnaci recursion
def fib(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-1)+fib(n-2)
n=int(input("enter any number"))
for i in range(n):
        print(fib(i),end=" ")

enter any number 7

0 1 1 2 3 5 8

In [1]:
#fibonacci series
n=20
def fib():
        sequence=[0,1]
        while len(sequence)<n:
            sequence.append(sequence[-1]+sequence[-2])
        return sequence,sum(sequence)

In [27]:
#armstrong number
def armstrong(x):
    x=str(x)
    counter=0
    for i in x:
        i=int(i)
        i=i**3
        counter=counter+1
    if int(x)==counter:
        print("this is an armstrong number")
    else:
        print("this is not an armstrong number")
armstrong('153')

this is not an armstrong number

In [25]:
armstrong(153)

this is not an armstrong number

In [23]:
#salary calculation
def salary(gross_salary,hra,med_ins,trans_allowance,pf,incometax):
    salary=gross_salary+hra+trans_allowance
    cuttings=(pf+incometax)
    remaining_balance=salary-cuttings
    return salary,cuttings,remaining_balance
A_sal,A_cuttings,A_balance=salary(gross_salary=60000,hra=5000,med_ins=800,trans_allowance=1000,pf=800,incometax=1000)
print(A_sal,A_cuttings,A_balance)

66000 1800 64200

In [31]:
def monthly_expenditure(remaining_balance,child_support=0,house_rent=0,groceries=0):
    child_support=0.3*remaining_balance
    house_rent=5000
    groceries=0.1*remaining_balance
    total_exp=child_support+groceries+house_rent
    remaining_balance=remaining_balance-total_exp
    return remaining_balance

In [33]:
final_savings=monthly_expenditure(A_balance)
print(final_savings)

33520.0

# Types of funcTions

In [7]:
def something_1(a,b):
    c=a-b
    return c #local variable
def something_2(c,d):
    e=c+d
def something_3(e,f):
    g=e+f

In [27]:
#x=something_1(1,2)
print(something_2(2,4))

None

In [25]:
something_2(x,4)

In [53]:
#using recursion print fibonaci series
def fibb(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibb(n-1)+fibb(n-2)
n=int(input())
for n in range(n):
    print(fibb(n),end=" ")

 20

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [1]:
def sum(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return n+sum(n-1)
sum(5)

15

In [8]:
def fibb(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
         sum=fibb(n-1)+fibb(n-2)
         return sum
n=int(input())
sum=0
for i in range(n):
    print(fibb(i),end=" ")
    sum=fibb(i)+sum
print()
print("sum is ",sum)

 9

0 1 1 2 3 5 8 13 21
sum is  54

5

In [27]:


def input(a):
     sum=0
     sum=a+sum
     return sum
input(678)

678

In [65]:
#sum of integers in string
user_input='678'
sum=0
for i in user_input:
    #print(i)
    i=int(i) 
    #print(type(i))
    sum=sum+i
print(sum)

21

In [5]:
def add_number(number):
            if number==0:
                return 0
            else:
               return number%10+add_number(number//10)

In [7]:
add_number(456)

15

# map and filter
syntax:map(function,iterable-list,tuple)

In [225]:
#map-map(function,iterables)
T=[1,2,3,4,5,6]
def something(x):
    if x%2==0:
        return x
list(map(something,T))

[None, 2, None, 4, None, 6]

In [237]:
#filter-filter(function,iterables)
T=[1,2,3,4,5,6]
def something(x):
    if x%2==0:
        return x
list(filter(something,T))

[2, 4, 6]

In [239]:
#filter
T=[1,2,3,4,5,6]
def something(x):
    if x%2==0:
        return x
tuple(filter(something,T))

(2, 4, 6)

In [253]:
T=[[10,20],[30,40],[50,60]]
[[x,y]for y,x in T]

[[20, 10], [40, 30], [60, 50]]

In [255]:
T=[[10,20],[30,40],[50,60]]
for i in T:
    i[0],i[1]=i[1],i[0]
print(T)

[[20, 10], [40, 30], [60, 50]]

In [263]:
#sorted(iterable,key)
T=["apple","ball"]
def length(x):
    return len(x)
print(length(T[0]))
sorted(T,key=len,reverse=True)

5

['apple', 'ball']

SyntaxError: invalid syntax (309708136.py, line 1)

In [84]:
def number(num,range):
    if num in range:
        return("in range")
    else:
        return "not in range"
number(89,range(1,20))

'not in range'

# reduce

In [23]:
#(function,iterable)
#reduce elements to len 
from functools import reduce
def add(x,y):
     return x+y
def mul(x,y):
    return x*y
reduce(mul,(2,3))

6

In [73]:
#adding 3 to every elementby 3
def something(x):
  for i in range(0,len(x)):
      x[i]=x[i]+3
  return x
something([1,2,3])

[4, 5, 6]

In [37]:
from functools import reduce
nums = [15, 2, 31, 4, 56]
reduce(lambda x,nums:x*nums,nums)

208320

In [95]:
a=[1,2,3]
list(map(lambda y:y+3,a))

[4, 5, 6]

In [17]:
def uppercase(s):
    return s.upper()         

list(map(uppercase,['apple','ball','carrot']))

['APPLE', 'BALL', 'CARROT']

In [125]:
#list comprehension
s=['apple','ball','carrot']
[x.upper() for x in s]

['APPLE', 'BALL', 'CARROT']

In [127]:
#map()
def uppercase(s):
    return s.upper()         

list(map(uppercase,['apple','ball','carrot']))

['APPLE', 'BALL', 'CARROT']

In [141]:
s=['apple','ball','carrot']
x=lambda s:s.upper()
list(map(x,a))

['APPLE', 'BALL', 'CARROT']

In [145]:
a=['apple','ball','carrot']
reduce(lambda x,y:x+" "y,a)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2128230408.py, line 2)

In [184]:
s=['apple','balloooooooo','carrot']
#ff=lambda x:len(x)
print(max(list(map(lambda x:len(x),s))))

print(max(list(filter(lambda x:len(x),s))))

TypeError: can only concatenate list (not "int") to list

In [31]:
y=[1,6,3]
print(max(list(map(lambda x:x,y))))

6