# Data Structure
###    Don't use keywords as variable

In [11]:
# List
names=['srinija','gaju','srujana','nandu']
print(names)
print(type(list))
print(name[0])#for accessing one element
print(name[1:3])#for accessing multiple elementes using slicing

['srinija', 'gaju', 'srujana', 'nandu']
<class 'list'>
srinija
['gaju', 'srujana']

In [15]:
list=['srinija','gaju']
for every_element in list:
                   print(every_element)

srinija
gaju

In [17]:
#To update values in a list
a=[1,2,3,4]
a[0]=5
a[3]=10
print(a)

[5, 2, 3, 10]

In [21]:
list=['srinija','gaju','patel']
#full_name=list[0]+list[1]+list[2]
full_name=" Hello ".join(list)
print(full_name)

srinija Hello gaju Hello patel

In [27]:
#For accessing data from more number of inputs-for is used
list1=['srinija','gaju','patel']
for every_element in list:
           print("".join(every_element)+" Hello")

srinija Hello
gaju Hello
patel Hello

In [29]:
my_list=["apple","Banana","Orange","guava"]
my_list[0]
print(my_list[2].upper())

ORANGE

In [31]:
my_list=["apple","Banana","Orange","guava"]
for every_element in my_list:
                   #print(every_element.upper())
                   print(every_element.split())

['apple']
['Banana']
['Orange']
['guava']

#  List Functions

In [180]:
#append()-adds as a single elments
cup_board=['Tshirt','jeans','shirt']
cup_board.append("shrug")
print(cup_board)

['Tshirt', 'jeans', 'shirt', 'shrug']

In [184]:
#extend()-adds as different elements.d
cup_board=['Tshirt','jeans','shirt']
cup_board.extend("shrug")
print(cup_board)

['Tshirt', 'jeans', 'shirt', 's', 'h', 'r', 'u', 'g']

In [202]:
#pop()-last element in the list is removed
cup_board=['Tshirt','jeans','shirt']
cup_board1=['Tshirt','jeans','shirt']
print(cup_board.pop())
print(cup_board)
print(cup_board1.pop(1))
print(cup_board1)

shirt
['Tshirt', 'jeans']
jeans
['Tshirt', 'shirt']

In [228]:
#difference between append and extend
my_var=['srinija','gaju']
my_var.append(["maggidi","armoor","iiit","basar"])
print(my_var)
my_var.extend(["iiit","basar"])
print(my_var)

['srinija', 'gaju', ['maggidi', 'armoor', 'iiit', 'basar']]
['srinija', 'gaju', ['maggidi', 'armoor', 'iiit', 'basar'], 'iiit', 'basar']

In [244]:
g=[1,2,3]
g.append(['a','b'])
print(g)
g.extend(['c','d'])
print(g)
print(g[3])
print(g[3][0])

[1, 2, 3, ['a', 'b']]
[1, 2, 3, ['a', 'b'], 'c', 'd']
['a', 'b']
a

In [10]:
help(list.append)

Help on method_descriptor:

append(self, object, /) unbound builtins.list method
    Append object to the end of the list.

In [264]:
#clear()-removes all elments in the list but variable can be accessed
cup_board=['Tshirt','jeans','shirt']
cup_board.clear()
print(cup_board)

[]

In [266]:
#del()-removes all elments in the list but variable can't be accessed it completely erases from its memory
cup_board=['Tshirt','jeans','shirt']
cup_board.del()
print(cup_board)

SyntaxError: invalid syntax (2538802793.py, line 3)

In [294]:
#count()-counts number of repetitions of a datapoint
cup_board1=[1,2,3,4,5,2,2,2,2]
print(cup_board1.count(2))
cup_board=['Tshirt','jeans','shirt','Tshirt','Tshirt']
print(cup_board.count('Tshirt'))

5
3

In [304]:
#insert()-it inserts or adds at which index we want to add
cup_board=['Tshirt','jeans','shirt']
cup_board.insert(3,"sweater")
print(cup_board)

['Tshirt', 'jeans', 'shirt', 'sweater']

In [308]:
#len(variable)
cup_board=['Tshirt','jeans','shirt','s','r']
print(len(cup_board))

5

In [326]:
#sum()-adds 
#min()-gives minimum
#max()=gives maximum
s=[12,34,53]
avg=sum(s)/len(s)

print("average",avg)
print("minimum",min(s))
print("maximum",max(s))

average 33.0
minimum 12
maximum 53

In [334]:
#index()-gives index value-if duplicates are present gives index value of first value
cup_board=['Tshirt','jeans','shirt']
print(cup_board.index('jeans'))

1

In [344]:
#removes()-removes a particular element
cup_board=['Tshirt','jeans','shirt']
cup_board.remove("shirt")
print(cup_board)
a=[2,3,4,54]
a.remove(3)
print(a)

['Tshirt', 'jeans']
[2, 4, 54]

In [350]:
#copy()-copies the elements

a=[2,3,4,54]
b=a.copy()
print(b)

[2, 3, 4, 54]

In [352]:
#reverse()-it prints reverse of the given input
a=[2,3,4,54]
a.reverse()
print(a)

[54, 4, 3, 2]

In [362]:
#sort()
a=[2,3,4,7,9,1,54]
a.sort(reverse=True)
print(a)
a.sort(reverse=False)
print(a)

[54, 9, 7, 4, 3, 2, 1]
[1, 2, 3, 4, 7, 9, 54]

# Tuple

In [372]:
my_tuple=(1,2,3,4)
print(my_tuple)
my_tuple[0]
my_tuple[0]="srinija"#does not accepts inputs because tuple is immutable

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [2]:
# tuple properties

In [4]:
#1.allows different datattypes
tuple_1=("srinija",'g',3,True)
print(tuple_1)

('srinija', 'g', 3, True)

In [6]:
#2.It allows duplicates
tuple_1=(1,2,3,4,5,3,4,3,3)
print(tuple_1)

(1, 2, 3, 4, 5, 3, 4, 3, 3)

In [8]:
#3.can access by indexing ordered data structure
tuple_1=(1,2,3,4,5,3,4,3,3)
tuple_1[0]

1

#To know all the methods
help(list)
help(tuple)

In [16]:
# Tuple Methods
#1.count()
tuple_1=(1,2,3,4,5,3,4,3,3)
tuple_1.count(3)

4

In [18]:
#2.index()
tuple_1=(1,2,3,4,5,3,4,3,3)#gives the index value of the beginning element
tuple_1.index(3)

2

In [25]:
tuple_1=(1,2,3,4,5,3,4,3,3)
for every_datapoint in tuple_1:
              print(every_datapoint)

1
2
3
4
5
3
4
3
3

In [27]:
list_1=[1,2,3,4]
for every_datapoint in list_1:
              print(every_datapoint)

1
2
3
4