# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [3]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [5]:
my_list=[1,2,3,4]
my_list.remove(3)
print(my_list)

[1, 2, 4]

In [269]:
# Method 2
list1=[1,2,3,4]
list1.pop(2)
print(list1)

[1, 2, 4]

In [16]:
# Method 3

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [7]:
lst=[2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [25]:
lst=[1,2,3,4]
lst.insert(2,"two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [27]:
phrase="Don't panic!"
type(phrase)

str

*convert into list*

In [29]:
list(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [77]:
a=list(phrase)
a.remove("!")
a.remove("'")
print(a)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [198]:
my_list=list(phrase)
my_list.remove("D")
#my_list.remove("n")
my_list.remove("'")
my_list.remove("p")
my_list.remove("a")
my_list.remove("!")
my_list.extend("panD")

my_list

['o', 'n', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [226]:
my_list=['p','a','n','D','a']
new_list=my_list[0]+my_list[1]+my_list[2]+my_list[3]+my_list[4]
new_list

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [230]:
nums=(31,24,35,85)
print("data type",type(nums))
nums

data type <class 'tuple'>

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [26]:
nums=(31,24,35,85)
new_nums=list(nums)
new_nums.remove(35)
print(tuple(new_nums))

(31, 24, 85)

**Extent** tuple (85,19)

In [68]:
nums=(31,24,85)
new_nums=list(nums)
a=new_nums.extend([85,19])
print(tuple(new_nums))

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [88]:
tpl = ('i','n''n','0')

['i', 'nn', '0']

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [279]:
list = ['Hello',100,[],'innomatics']
list[2]=[200]
list

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [96]:
# CODE HERE
tpl = ("Innomatics")
a=list(tpl)
a.reverse()
print(a)

['s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I']

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [379]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [495]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_tpl=100
t=[]
for i in tpl:
    result=i+(new_tpl,)
    t.append(result)
print(t)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [630]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_tpl=100
t=[]
for i in tpl:
    result=i+(new_tpl,)
    t.append(result)
print(t)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [3]:
# CODE HERE

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [553]:
tuple=(1,2,3,4,5,6,7,8,9,10)
tuple_1=[]
for i in tuple:
    if i%2==0:
        result=i
        tuple_1.append(result)
print(tuple_1)

[2, 4, 6, 8, 10]

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
1.list is mutable and tuple is immutable.
2.list is represnted in square brackets[] and tuple in parenthesis()
3.Both of them allows different datatypes.
4.Both of them allows duplicates 
5.Both of them are ordered

### 2. Explain the difference between append() and extend() with examples

In [263]:
#1.append()-takes input as single elements and add it to the original list
my_list=[1,2,3,4]
my_list.append("23")
print(my_list)

[1, 2, 3, 4, '23']

In [267]:
#extend()=takes input as a different elements and add into original list as a diffrenet elements
list1=[1,2,3,4]
list1.extend("23")
print(list1)

[1, 2, 3, 4, '2', '3']

### 3. Explain the difference between pop() and remove() with examples

In [275]:
#pop()-index value of element is given as input and it is  removed from the list
list=[1,2,3,4]
list.pop(3)
print(list)

[1, 2, 3]

In [273]:
#remove()-element is given as input and it is  removed from the list
list=[1,2,3,4]
list.remove(4)
print(list)

[1, 2, 3]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)