# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [4]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [6]:
#method-1
my_list=[1,2,3,4]
my_list.remove(3)
print(my_list)

[1, 2, 4]

In [7]:
# Method 2
list1=[1,2,3,4]
list1.pop(2)
print(list1)

[1, 2, 4]

In [8]:
# Method 3
list1=[1,2,3,4]
print([list1[0],list1[1],list1[3]])

[1, 2, 4]

In [42]:
#method-4
list1=[1,2,3,4]
del list1[2]
print(list1)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [10]:
lst=[2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [12]:
lst=[1,2,3,4]
lst.insert(2,"two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [14]:
phrase="Don't panic!"
type(phrase)

str

*convert into list*

In [16]:
phrase="Don't panic!"
a=list(phrase)
print(a)
type(a)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

list

`Question:` Remove ** '** and **!** in the list

In [18]:
phrase="Don't panic!"
a=list(phrase)
a.remove("'")
a.remove("!")
print(a)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [20]:
phrase="Don't panic!"
a=list(phrase)
a.remove("'")
a.remove("!")
del a[5]
del a[5]
del a[5]
del a[0]
a.extend("panD")
print(a)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [22]:
#method-1
my_list=['p','a','n','D','a']
new_list=my_list[0]+my_list[1]+my_list[2]+my_list[3]+my_list[4]
new_list

'panDa'

In [129]:
my_list=['p','a','n','D','a']
"".join(my_list)

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [26]:
nums=(31,24,35,85)
print("data type",type(nums))
nums

data type <class 'tuple'>

(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [28]:
nums=(31,24,35,85)
new_nums=list(nums)
new_nums.remove(35)
print(tuple(new_nums))

(31, 24, 85)

**Extent** tuple (85,19)

In [30]:
nums=(31,24,85)
new_nums=list(nums)
a=new_nums.extend([85,19])
print(tuple(new_nums))

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [32]:
#method-1
tpl = ('i','n''n','0')
'i' in tpl

True

In [33]:
#method-2
tpl = ('i','n''n','0')
for i in tpl:
    if i=='i':
        print(True)

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [35]:
list = ['Hello',100,[],'innomatics']
list[2]=[200]
list

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [1]:
tpl =("Innomatics")
a=list(tpl)
tuple(a[::-1])

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [ ]:
tpl = (1,2,3)+(4,)
tpl

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [3]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_tpl=100
t=[]
for i in tpl:
    result=i+(new_tpl,)
    t.append(result)
print(t)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [5]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
value=100
result=[]
for i in tpl:
    lst1=list(i)
    lst1.remove(lst1[2])
    lst1.append(value)
    result.append(tuple(lst1))
    
print(result)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [17]:
n='5 2 3 6 6 5'
n=n.split()
list1=[]
for i in n:
    list1.append(int(i))
sorted_list=sorted(set(list1))
sorted_list[-2]

5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
list=[12,24,35,0,88,120,155]
not_allowed = list[0], list[4],list[5]
[var for var in list if var not in not_allowed]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [ ]:

my_tuple=(1,2,3,4,5,6,7,8,9,10)
list1=[]
list2=[]
for i in my_tuple:
    if i>=1 and i<6:
        list1.append(i)
    elif i>=6 and i<=10:
        list2.append(i)
print(tuple(list1))
print(tuple(list2))

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [ ]:
tuple1=(1,2,3,4,5,6,7,8,9,10)
tuple_1=[]
for i in tuple1:
    if i%2==0:
        result=i
        tuple_1.append(result)

tuple(tuple_1)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
1.list is mutable and tuple is immutable.
2.list is represnted in square brackets[] and tuple in parenthesis()
3.Both of them allows different datatypes.
4.Both of them allows duplicates 
5.Both of them are ordered

### 2. Explain the difference between append() and extend() with examples

In [ ]:
#1.append()-takes input as single elements and add it to the original list
my_list=[1,2,3,4]
my_list.append("23")
print(my_list)

In [ ]:
#extend()=takes input as a different elements and add into original list as a diffrenet elements
list1=[1,2,3,4]
list1.extend("23")
print(list1)

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
#pop()-index value of element is given as input and it is  removed from the list
list=[1,2,3,4]
list.pop(3)
print(list)

In [ ]:
#remove()-element is given as input and it is  removed from the list
list=[1,2,3,4]
list.remove(4)
print(list)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)