# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [41]:
Name=input("enter your name")
Gender=input("ener your Gender")
Occupation=input("enter your occupation")
Location=input("enter your Location")
person1={"Gender":Gender,"Location":Location,"Name":Name,"Occupation":Occupation}
person1

enter your name John
ener your Gender Male
enter your occupation Data Scientist
enter your Location Nizampet,Hyderabad

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [45]:
person1={"Name":Name,"Gender":Gender,"Occupation":Occupation,"Location":Location}
list(person1.keys())

['Name', 'Gender', 'Occupation', 'Location']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [53]:
Name=input("enter your name")
Gender=input("ener your Gender")
Occupation=input("enter your occupation")
Location=input("enter your Location")
person1={"Gender":Gender,"Location":Location,"Name":Name,"Occupation":Occupation}
person1.update({"age":27})
person1.pop("Location")
person1

enter your name Srikanth
ener your Gender Male
enter your occupation Data Scientist
enter your Location Nizampet,Hyderabad

{'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist',
 'age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [57]:
Name=input("enter your name")
Gender=input("ener your Gender")
Occupation=input("enter your occupation")
Age=int(input("enter your age"))
person2={"Age":Age,"Gender":Gender,"Name":Name,"Occupation":Occupation,}
person2

enter your name Raghu Ram
ener your Gender Male
enter your occupation Data Scientist
enter your age 25

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [81]:
Name=input("enter your name")
Gender=input("ener your Gender")
Occupation=input("enter your occupation")
Location=input("enter your Location")
person1={"Gender":Gender,"Location":Location,"Name":Name,"Occupation":Occupation}
print(" person1 ".center(48,"="))
print(person1)
print(" person2 ".center(48,"="))
print(person2)

enter your name John
ener your Gender Male
enter your occupation Data Scientist
enter your Location Nizampet,Hyderabad

=================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet,Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
=================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [93]:
#Method-1

#clear()-clears all the elements from the dictionary
my_dict={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
my_dict.clear()
my_dict

{}

In [13]:
#method-2

#del()-clears all the elements from the dictionary
my_dict={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
del my_dict[1]
my_dict

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [15]:
#Method-3

#popitem()-clears last element from the dictionary
my_dict={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
my_dict.popitem()
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [103]:
#Method-4

#pop()-clears specified  element from the dictionary
my_dict={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
my_dict.pop(1)
my_dict

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [15]:
my_dic={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

my_dic1=my_dic.values()
values=list(my_dic1)
values.sort(reverse=True)
print(values)

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [240]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [11]:
sample_dict={'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000},'emp3': {'name': 'Charan', 'salary': 6500}}
sample=sample_dict.update({'name':'charan','salary':8500})
print(sample_dict)

{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 6500}, 'name': 'charan', 'salary': 8500}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [77]:
#method-1
sampleDict = {"class": { "student": { "name": "Mike","marks": {"physics": 70,"history": 80} }}}
result=list(sampleDict["class"]["student"]["marks"].values())[1]
print("The value of key history is",result)

The value of key history is 80

In [3]:
#method-2
s = {"class": { "student": { "name": "Mike","marks": {"physics": 70,"history": 80} }}}
for i in s.values():
    for j in i.values():
        for k in j.items():
          for l in k:
                res=l
a=list(res.values())
a[1]

80

In [25]:
#method-3
sampleDict = {"class": { "student": { "name": "Mike","marks": {"physics": 70,"history": 80} }}}
sampleDict["class"]["student"]["marks"]["history"]

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [75]:
#method-1
dict1={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
dict1['Area'] = dict1.pop('Location')
dict1

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

In [31]:
#method-2
dict1={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
dict1['Area'] = dict1['Location']
del dict1["Location"]
dict1

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [21]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input("enter username")
password=input("enter password")
if username==password:
    print("hello",username)
else: 
    response=input("you want me to add to the database")
    if response=="yes":
            database.update({username:password})
            print(database)
    elif response=="no":
             print("your username and password are not added into database")

enter username srinija
enter password 1535
you want me to add to the database yes

{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'srinija': '1535'}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)