#Task1

**Q1.Create different variables to store your name,your age,and your parents name
a.print your name
b.create more variables needeed for the biodata
c.Now print your whole biodata using above variables. bold text**

In [ ]:

name="srinija"
age=21
mother_name="Laxmi"
father_name="Ramesh"
qualification="B.TECH"
department="Electronics and Communiaction Engineering"
district="Nizamabad"
print("My name is:",name)
print("My age is:",age)
print("My mother name is:",mother_name)
print("My father name is:",father_name)
print("I completed my",qualification,"in",department)
print("I am from",district,"District")

My name is: srinija
My age is: 21
My mother name is: Laxmi
My father name is: Ramesh
I completed my B.TECH in Electronics and Communiaction Engineering
I am from Nizamabad District

**Q2.Create two variables.One to store your first name and another to store your surname.Now print your name so that the surname prints first.**

In [ ]:
name="Srinija"
surname="Gaju"
fullname=surname+name
print("my fullname is",fullname)

my fullname is GajuSrinija

**Q3.Write rules on how to create a variable in markdown cell using text Formatting.**

we have to create a variable in a cell and assign a value to the variable.Then convert the cell to a markdown using **esc+m** keyword.Then we have to enter **shift+enter** to run the cell.To get a sentence or word in bold we have to use ** before and after the sentence or word .To get in italic we have to use * before and after the sentence.To convert a cell to code we have touse **esc+y**. To add a cell above-**esc+a**.To add a cell below-**esc+b**.

**Q4.Create a variable called break and assign it a value 16.see what happens, and find out the reason behind the behaviour that you see.**

In [ ]:
break=16

SyntaxError: invalid syntax (<ipython-input-9-e84173fcc9b2>, line 1)

 Break is a keyword.we cannot assign a keyword to a variable.It gives as syntax error.Break keyword in python is used to stop the program execution.

**Q5.a.Assign the values 1,2 and 3 to the variables x,y,z,respectively,in a single line.
b.print the values of x,y,and z**

In [ ]:
x,y,z=1,2,3
print("The values of x,y,z are",x,y,z,"respectively")

The values of x,y,z are 1 2 3 respectively