# Sets and Dictionary

**1.What is a set in Python? How is it different from other data structures like lists or tuples? Explain with examples.**

List
1. list is represented in square bracket "[]"
2. It is mutable
3. Allows duplicates
4. stores different data types
5. ordered data structure

In [ ]:
#List Example:
list_1=[1,2,3,2,2,4,5,True,False,"srinija"]
print(list_1)
list_1[0]=5 #mutable

[1, 2, 3, 2, 2, 4, 5, True, False, 'srinija']

Tuple
1. Tuple is represented in round bracket "()"
2. It is immutable
3. Allows duplicates
4. stores different data types
5. ordered data structure

In [ ]:
#List Example:
tuple_1=(1,2,3,2,2,4,5,True,False,"srinija")
print(tuple_1)
#tuple[0]=5 ----it will not print value in the tuple

(1, 2, 3, 2, 2, 4, 5, True, False, 'srinija')

Set
1. set is represented in flower bracket "{}"
2. It is immutable
3. Does not Allow duplicates
4. stores different data types
5. unordered data structure

In [ ]:
set_1={1,2,3,2,2,4,5,True,False,"srinija"}
print(set_1)
#set_1[0]=5  ----it will not update value 5 in the set

{False, 1, 2, 3, 4, 5, 'srinija'}

Dictonary
1. Dictionary is represented in flower bracket "{}"
2. It is mutable
3. Does not Allow duplicates
4. stores different data types
5. unordered data structure

In [ ]:
#Example:
my_dict={"name":"srinija","age":21,"graduated":True}
my_dict["age"]=22
print(my_dict)

{'name': 'srinija', 'age': 22, 'graduated': True}

***2Q.What is the difference between set.pop() and list.pop()? Explain with examples.***

In [ ]:
#list.pop()-removes element from the end of the list
list_1=[1,2,3,4]
list_1.pop()
print(list_1)

[1, 2, 3]

In [ ]:
#set.pop()-removes element from the beginning of the set
my_set={1,2,3,4}
my_set.pop()
print(my_set)

{2, 3, 4}

**3Q.Given the set S = {1, 2, 3, 4, 5, 76, 32, 65}, apply all built-in set functions to this example.**

In [ ]:
#1.add()-takes only one argument and adds it into the set
S={1,2,3,4,5,76,32,65}
S.add(40)
print(S)

{32, 1, 2, 3, 4, 5, 65, 40, 76}

In [ ]:
#2.clear()-clears all the elements from the set,it does not accept arguments
S={1,2,3,4,5,76,32,65}
S.clear()
print(S)

set()

In [ ]:
#3.copy()-copies all the elements in the set,it does not accept arguments
S={1,2,3,4,5,76,32,65}
R=S.copy()
print(R)

{32, 1, 2, 3, 4, 5, 65, 76}

In [ ]:
#4.del()-completely erases all the elements from the set
S={1,2,3,4,5,76,32,65}
del S
print(S)

NameError: name 'S' is not defined

In [ ]:
#4.difference()-it will not update the values in the original set
S={1,2,3,4,5,76,32,65}
R={5,6,7,1,2,8}
print(S.difference())
print(R.difference(S))
print(S)
print(R)

{32, 1, 2, 3, 4, 5, 65, 76}
{8, 6, 7}
{32, 1, 2, 3, 4, 5, 65, 76}
{1, 2, 5, 6, 7, 8}

In [ ]:
#5.difference_update()-it will update the values in the original set
S={1,2,3,4,5,76,32,65}
R={5,6,7,1,2,8}
print(S.difference_update(R))
print(S)
print(R.difference_update(S))
print(R)

None
{32, 3, 4, 65, 76}
None
{1, 2, 5, 6, 7, 8}

In [ ]:
#6.discard()-removes element if it is present in set,if not also it returns set
S={1,2,3,4,5,76,32,65}
S.discard(5)
print(S)
S={1,2,3,4,5,76,32,65}
S.discard(10)
print(S)

{32, 1, 2, 3, 4, 65, 76}
{32, 1, 2, 3, 4, 5, 65, 76}

In [ ]:
#7.remove()-removes element if it is present in set,if not it returns error
S={1,2,3,4,5,76,32,65}
S.remove(4)
print(S)
S={1,2,3,4,5,76,32,65}
S.remove(8)
print(S)

{32, 1, 2, 3, 5, 65, 76}

KeyError: 8

In [ ]:
#8.intersection()-the result is not updated in the original set
S={1,2,3,4,5,76,32,65}
R={5,6,1,7,8}
print(S.intersection(R))
print(R.intersection(S))
print(S)
print(R)

{1, 5}
{1, 5}
{32, 1, 2, 3, 4, 5, 65, 76}
{1, 5, 6, 7, 8}

In [ ]:
#9.intersection_update()-the result/output is updated in the original set
set1={1,2,3,4,7,8}
set2={5,6,1,7,8}
print(set1.intersection_update(set2))
set1={1,2,3,4,7,8}
set2={5,6,1,7,8}
print(set2.intersection_update(set1))
print(set1)
print(set2)

None
None
{1, 2, 3, 4, 7, 8}
{8, 1, 7}

In [ ]:
set1={1,2,3,4}
set2={5,6,1,7,8}
print(set1.intersection_update(set2))

None

In [ ]:
#10.isdisjoint()-if both sets are not same dataypes it will return True if not false
set1={1,2,3,4,6}
set2={5,6,1,7,8}
print(set1.isdisjoint(set2))
set3={5,6,1,7,8}
set4={5,6,1,7,8}
print(set3.isdisjoint(set4))
set3={5,6,1,7,8}
set4={'a','b','c','d'}
print(set3.isdisjoint(set4))

False
False
True

In [ ]:
#11.issubset()
set1={1,5,6}
set2={5,6,1,7,8}
print(set1.issubset(set2))
set1={1,5,6,9,2,3}
set2={5,6,1,7,8}
print(set1.issubset(set2))

True
False

In [ ]:
#11.issuperset()-returns true only if the elemnets of a set present in another set
set1={1,5,6}
set2={5,6,1,7,8}
print(set1.issuperset(set2))
set1={1,5,6}
set2={5,6,1,7,8}
print(set2.issuperset(set1))
set1={1,5,6,9,2,3}
set2={5,6,1,7,8}
print(set1.issuperset(set2))
set1={1,5,6,7,8}
set2={5,6,1,7,8}
print(set1.issuperset(set2))

False
True
False
True

In [ ]:
#12.pop()-removes any of the element from the list and takes only one argument as input
S={1,2,3,4,5,76,32,65}
print(set1.pop())
print(S)

2
{32, 1, 2, 3, 4, 5, 65, 76}

In [ ]:
#13.union()-gives all the elements in the both the sets
set1={1,5,6,9,2,3}
set2={9,7,3,1}
print(set1.union(set2))

{1, 2, 3, 5, 6, 7, 9}

In [ ]:
#14.symmetric_difference()- Return the symmetric difference of two sets as a new set.
#(i.e. all elements that are in exactly one of the sets.)
set1={1,2,3,4}
set2={2,3,7,4,5,8}
print(set1.symmetric_difference(set2))

{1, 5, 7, 8}

In [ ]:
#15.symmetric_difference_update()-Update a set with the symmetric difference of itself and another.
set1={1,2,3,4}
set2={2,3,7,4,5,8}
set1.symmetric_difference_update(set2)
print(set1)

{1, 5, 7, 8}

**4Q.Update the first set with items that don't exist in the second set.
s1={150,200,400}
s2={200,750,650}
Expected output: s1={150,400}**

In [ ]:
s1={150,200,400}
s2={200,750,650}
s1.difference_update(s2)
print("s1=",s1)#set is unordered

s1= {400, 150}

**5Q.Define a set S = {apple, banana, cherry, orange}. Use Python set methods to add a new fruit 'grape' to S, remove 'banana' from S, and check the length of S.**

In [ ]:
S= {'apple', 'banana', 'cherry', 'orange'}
S.add('grape')
S.remove('banana')
print(S)
print(len(S))

{'apple', 'orange', 'grape', 'cherry'}
4

**6Q.dict = {“name1_marks” : [34,56,87,89], “name2_marks” : [78,98,54,34],  “name3_marks” : [87,65,97,90]}   add the marks   97  in  “name1_marks”.
Expected output : {“name1_marks” : [34,56,87,89, 97], “name2_marks” : [78,98,54,34],  “name3_marks” : [87,65,97,90]}**

In [ ]:
#method-1
dict1={"name1_marks" : [34,56,87,89], "name2_marks" : [78,98,54,34], "name3_marks" : [87,65,97,90]}
dict1.keys()
dict1.values()
dict1.update({"name1_marks" : [34,56,87,89,97]})
print(dict1)

{'name1_marks': [34, 56, 87, 89, 97], 'name2_marks': [78, 98, 54, 34], 'name3_marks': [87, 65, 97, 90]}

In [ ]:
#method-1
dict1={"name1_marks" : [34,56,87,89], "name2_marks" : [78,98,54,34], "name3_marks" : [87,65,97,90]}
#result=dict1.values()
result=dict1["name1_marks"]
result.append(97)

print(dict1)

{'name1_marks': [34, 56, 87, 89, 97], 'name2_marks': [78, 98, 54, 34], 'name3_marks': [87, 65, 97, 90]}