**DAILY CLASS TASK QUESTIONS-List and Tuples**

**1Q.Explain the properties of list and tuple in the markdown cell.**

### List properties

1.   It can store different data types
2.   It allows duplicates
3.   Data pints are enclosed between square brackets "[]"
4.   list is mutable
5.   can access it by indexing-ordered data structure


### Tuple properties

1.   It can store different data types
2.   It allows duplicates
3.   Data points are enclosed between parenthesis "()"
4.   Tuple is immutable
5.   can access it by indexing-ordered data structure

**2Q.Create a list containing the numbers 1 to 5.**

In [ ]:
list=[1,2,3,4,5]

**3Q.Access the third element of the list [10, 20, 30, 40, 50].**

In [ ]:
list=[10,20,30,40,50]
print("Third element in the list is:",list[2])

Third element in the list is: 30

**4Q.Change the second element of the list [1, 2, 3, 4, 5] to 10.**

In [ ]:
my_list=[1,2,3,4,5]
my_list[1]=10
print(my_list)

[1, 10, 3, 4, 5]

**5Q.Add the element 6 to the end of the list [1, 2, 3, 4, 5].**

In [ ]:
list=[1,2,3,4,5]
list.append(6)#appends adds the element at the end of the syntax
print(list)

[1, 2, 3, 4, 5, 6]

**6Q.Concatenate the lists [1, 2, 3] and [4, 5, 6].**

In [ ]:
#method-1
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#method-2
list1=[1,2,3]
list2=[4,5,6]
print(list1+list2)

[1, 2, 3, 4, 5, 6]

**7Q.Create a tuple containing the strings "apple", "banana", and "cherry".**

In [ ]:
tuple=("apple","banana","cherry")

**8Q.Access the first element of the tuple ("apple", "banana", "cherry")**

In [ ]:
tuple=("apple", "banana", "cherry")
print("First elemnt of the element:",tuple[0])

First elemnt of the element: apple

**9Q.Check if the number 4 is in the list [1, 2, 3, 4, 5].**

In [ ]:
list=[1,2,3,4,5]
list.index(4)
print(bool(list))

True

In [ ]:
list=[1,2,3,4,5]
print(4 in list)

True

**10Q.Find the length of the list [10, 20, 30, 40, 50].**

In [ ]:
my_list=[10,20,30,40,50]
print(len(my_list))

5

**11Q.Slice the list [10, 20, 30, 40, 50] to get the sublist [20, 30, 40].**

In [ ]:
list=[10,20,30,40,50]
print(list[1:4])

[20, 30, 40]

**12Q.Unpack the tuple (10, 20, 30) into three variables.**

In [ ]:
my_tuple=(10,20,30)
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple)

10
20
30
(10, 20, 30)

**13Q.Count the number of times the element 2 appears in the list [1, 2, 2, 3, 4, 2, 5].**

In [ ]:
list=[1, 2, 2, 3, 4, 2, 5]
print(list.count(2))
print("The element 2 appears",list.count(2),"times in the tuple")

3
The element 2 appears 3 times in the tuple

**14Q.Find the maximum element in the list [1, 2, 3, 4, 5].**

In [ ]:
list=[1, 2, 3, 4, 5]
print(max(list))
print("The maximum element in the list is:",max(list))

5
The maximum element in the list is: 5

**15Q.Convert the list [1, 2, 3, 4, 5] to a tuple.**

In [ ]:
list=[1,2,3,4,5]
print(type(list))
tuple_input=list[0],list[1],list[2],list[3],list[4]
print(tuple_input)
print(type(tuple_input))

<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

**16Q.Extend the list [1, 2, 3] with elements from the list [4, 5, 6].**

In [ ]:
list_1=[1,2,3]
list_2=[4,5,6]
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 6]

**17Q.Reverse the list [1, 2, 3, 4, 5].**

In [ ]:
my_list=[1,2,3,4,5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

**18Q.Access the element 3 in the nested list [[1, 2], [3, 4], [5, 6]].**

In [ ]:
list=[[1,2],[3,4],[5,6]]
print(list[2])
print(list[1][0])

[5, 6]
3

**19Q.Remove the element 4 from the list [1, 2, 3, 4, 5].**

In [ ]:
list=[1,2,3,4,5]
list.remove(4)
print(list)

[1, 2, 3, 5]

**20Q.Convert the tuple (1, 2, 3, 4, 5) to a list.**

In [ ]:
tuple=(1,2,3,4,5)
print(type(tuple))
list_input=[tuple[0],tuple[1],tuple[2],tuple[3],tuple[4]]
print(list_input)
print(type(list_input))

<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

**21Q.Find the index of the element 3 in the list [1, 2, 3, 4, 5].**

In [ ]:
list_input=[1,2,3,4,5]
list_input.index(3)

2

**22Q.Explain why the following operation fails: t = (1, 2, 3); t[0] = 0.**

In [ ]:
t=(1,2,3)
t[0]=0 #Tuple is immutable.It does not support item assignment means we can assign a element in the tuple explicitly

TypeError: 'tuple' object does not support item assignment

**23Q.You have a list of your favorite Marvel superheroes.heroes=['spider man','thor','hulk','iron man','captain america']  Using this list,**

**find Length of the list**

**>Add 'black panther' at the end of this list.**

**>You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'.**

**>Now you don't like thor and hulk because they get angry easily ðŸ™‚. So you want to remove thor and hulk from the list and replace them with Doctor Strange (because he is cool).Do that with one line of code.**

**>Sort the list in alphabetical order**

In [ ]:
heroes=['spider man','thor','hulk','iron man','captain america']
print(len(heroes))

5

In [ ]:
heroes.append("black panther")
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
heroes.remove("black panther")
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [ ]:
heroes.insert(3,"black panther")
print(heroes)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [ ]:
heroes=['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
heroes.remove("thor")
heroes.remove("hulk")
heroes.insert(1,"doctor Strange")
print(heroes)

['spider man', 'doctor Strange', 'black panther', 'iron man', 'captain america']

In [ ]:
herpes=['spider man', 'doctor Strange', 'black panther', 'iron man', 'captain america']
heroes.sort(reverse=False)
print(heroes)

['black panther', 'captain america', 'doctor Strange', 'iron man', 'spider man']

**24Q.Write a program to add item 7000 after 6000 in the following Python List:list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]**

In [ ]:
list=[10,20,[300,400,[5000,6000],500],30,40]
my_list=list[2][2]
##print(my_list)
my_list1=my_list.insert(2,7000)
print(list)

[5000, 6000]
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]